torch==2.10.0
torchvision
pretrainedmodels
numpy
opencv-python-headless
joblib
albumentations
scikit-image
tqdm
glog
tensorboardx
fire
# this file is not ready yet
protobuf>=6.33.5 # not directly required, pinned by Snyk to avoid a vulnerability
